<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPlatos" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:6018/Platos.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPlatos" contract="PlatosServ.IPlatos"
                name="BasicHttpBinding_IPlatos" />
        </client>
    </system.serviceModel>
</configuration>